<h1>Listing post1s</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @post1s.each do |post1| %>
      <tr>
        <td><%= post1.title %></td>
        <td><%= post1.body %></td>
        <td><%= link_to 'Show', post1 %></td>
        <td><%= link_to 'Edit', edit_post1_path(post1) %></td>
        <td><%= link_to 'Destroy', post1, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post1', new_post1_path %>
