<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post1.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post1.body %>
</p>

<%= link_to 'Edit', edit_post1_path(@post1) %> |
<%= link_to 'Back', post1s_path %>
