<h1>Listing comment1s</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comment1s.each do |comment1| %>
      <tr>
        <td><%= comment1.title %></td>
        <td><%= comment1.body %></td>
        <td><%= link_to 'Show', comment1 %></td>
        <td><%= link_to 'Edit', edit_comment1_path(comment1) %></td>
        <td><%= link_to 'Destroy', comment1, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment1', new_comment1_path %>
