<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @comment1.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @comment1.body %>
</p>

<%= link_to 'Edit', edit_comment1_path(@comment1) %> |
<%= link_to 'Back', comment1s_path %>
